<div style="border: 2px solid black;">
Todos
<ul>
    <li *ngFor="let task of tasks">
        <div style="border: 1px solid purple;" >
        Title:  {{task.title}} <br>
       Completed: {{task.completed}}<button *ngIf="task.completed == false"  (click)="complete(this.task.id)"  >Mark completed</button>
    </div>
    </li>
</ul>

Posts
<ul>
    <li *ngFor="let post of posts">
        <div style="border: 1px solid purple;" >
        Title:  {{post.title}} <br>
       Body: {{post.body}}
    </div>
    </li>
</ul>
</div>