<div
  [style.display]="postClicked || taskClicked ? 'none' : 'block'"
  style="border: 2px solid black"
>
  <div>
    Todos <input type="button" (click)="addTask()" value="Add" />
    <ul>
      <li *ngFor="let task of tasks">
        <div style="border: 1px solid purple">
          Title: {{ task.title }} <br />
          Completed: {{ task.completed
          }}<button
            *ngIf="task.completed == false"
            (click)="complete(this.task.id)"
          >
            Mark completed
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    Posts <input type="button" (click)="addPost()" value="Add" />
    <ul>
      <li *ngFor="let post of posts">
        <div style="border: 1px solid purple">
          Title: {{ post.title }} <br />
          Body: {{ post.body }}
        </div>
      </li>
    </ul>
  </div>
</div>

<div [style.display]="postClicked ? 'block' : 'none'">
  <form #f="ngForm" (ngSubmit)="createPost(postTitle.value, body.value)">
    <div style="border: 2px solid black; width: 250px; height: 200px">
      <br />
      Add new post to user! <br />
      <br /><br />

      Title: <input type="text" name="title" #postTitle /> <br />
      <br />
      Body: <input type="text" name="body" #body /> <br /><br />

      <div class="upAndDel">
        <input type="button" value="Cancel" (click)="postClicked = false" />{{
          "    "
        }}{{ "    " }}
        <input type="submit" value="Add New" />
        <div *ngIf="!f.valid && f.touched">Both fields are mandatory</div>
      </div>
    </div>
  </form>
</div>

<div [style.display]="taskClicked ? 'block' : 'none'">
  <form #f="ngForm" (ngSubmit)="createTask(taskTitle.value)">
    <div style="border: 2px solid black; width: 250px; height: 200px">
      <br />
      Add new task to user! <br />
      <br /><br />

      Title: <input type="text" name="taskTitle" #taskTitle /> <br />
      <br />

      <div class="upAndDel">
        <input type="button" value="Cancel" (click)="taskClicked = false" />{{
          "    "
        }}{{ "    " }}
        <input type="submit" value="Add New" />
        <div *ngIf="!f.valid && f.touched">Both fields are mandatory</div>
      </div>
    </div>
  </form>
</div>
